
$red: red;
$blue: blue;
$purple: purple;
$black: #111111;
$bg-color: #162741;
$white: #ffffff;
$para-gray: #E4E4E4;
$btn-bg-primary: #244B49;
$btn-color: #173157;
$black: #111111;
$poppins: 'Poppins', sans-serif;
$kaushan: 'Kaushan Script', cursive;
$inter: 'Inter', sans-serif;
$jura: 'Jura', sans-serif;

