@import "../variable/_variable";
@import "../mixins/_mixin";
/* Banner part start*/
#banner{
    background: url(/images/banner-bg.jpg) no-repeat center/cover;
    .overlay{
        padding-top: 185px;
        background: linear-gradient(82.06deg, rgba(1, 1, 1, 0.62) 46.14%, rgba(31, 169, 180, 0) 101.22%);
        box-shadow: inset 0px 115px 83px rgba(0, 0, 0, 0.7);
        .banner_info{
            h1{
                font-family: $kaushan;
                color: $white;
                font-style: normal;
                font-weight: 400;
                font-size: 80px;
                line-height: 112%;
                text-align: center;
                letter-spacing: 0.15em;
                span{
                    display: block;
                    font-size: 50px;
                }
            }
            h4{
                font-family: $inter;
                font-weight: 800;
                font-size: 18px;
                line-height: 1.2;
                letter-spacing: 0.15em;
                color: $white;
                padding-top: 11px;
                padding-bottom: 8px;
            }
            p{
                @include paragraph($white, $inter);
                padding-bottom: 34px;
            }
            .banner_btn{
                display: inline-flex;
                align-items: center;
                padding-bottom: 66px;
                gap: 5px;
                a{
                    @include common-button;
                    margin-right: 20px;
                    display: inline-flex;
                    gap: 5px;
                    span.info{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 1px solid $white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                    }
                    &:hover{
                        span.info{
                            border: 1px solid $btn-color;
                        }
                    }
                }
            }
        }
        .movie_slider{
            .slide_item{
                margin: 0 12px;
                .image{
                    position: relative;
                    height: 152px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .movie_overlay{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: rgba(22, 39, 65, 0.78);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        visibility: hidden;
                        a{
                            width: 90px;
                            height: 90px;
                            border-radius: 50%;
                            border: 1px solid $white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 30px;
                            color: $white;
                        }
                    }
                }
            }
            .slide_item.slick-center{
                .movie_overlay{
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }
        }

    }
}
/* Banner part end*/