@import '../variable/_variable';
/* Navbar start */
#navbar{
  background: transparent;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 0;
  ul.navbar-nav {
    li {
      margin-left: 50px;
      a {
        font-family: $poppins;
        color: $white;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        transition: all linear .3s;
        position: relative;
        &:focus{
          color: green;
        }
        &::after{
          content: "";
          width: 0;
          height: 1px;
          background: red;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all linear .3s;
        }
        &:hover::after{
          width: 100%;
        }
      }
    }
  }
}
/* Navbar end */

