@import "../variable/_variable";

@mixin common-button {
  font-family: $inter;
  font-weight: 600;
  font-size: 29px;
  line-height: 112%;
  text-align: center;
  border-radius: 5px;
  padding: 16px 20px;
  color: $white;
  background: $btn-bg-primary;
  transition: all linear .3s;
  &:hover{
    background: $white;
    color: $btn-color;
  }
}
@mixin paragraph($color, $font-family) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color;
  font-family: $font-family;
}