@import '../variable/variable';
/* All Common css Start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol,li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    font-family: $poppins;
    color: $white;
}
img {
    vertical-align: middle;
}
/* All Common css End */